body {
  background-color: grey;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100px;
  height: auto;
  margin: 0 20px;
}

ul {
  list-style: none;
  margin-right: 50px;
  justify-self: flex-end;
}

li {
  display: inline;
}

nav {
  background-color: black;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.8;
  position: fixed;
}

a {
  font-family: "Bebas Neue";
  font-size: 22px;
  text-decoration: none;
  color: #C06139;
  margin: 0 10px;
}

a:hover {
  text-shadow: black;
}

main {
  background-image: url('Assets/city.png');
  height: 1000px;
  border-radius: 50px;
}